{{define "title"}}Artists{{end}} {{define "content"}}

<h1>{{.Artist.Name}}</h1>

<img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" />

<p>
    <strong>Members:</strong>
    <ul>
        {{range .Artist.Members}}

        <li>{{.}}</li>
        {{end}}
    </ul>
    
</p>

<p><strong>Created on:</strong> {{.Artist.CreationDate}}</p>
<p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>

<h3>Dates & Locations</h3>

{{range $location, $dates := .Relations}}
<h4>{{$location}}</h4>
<ul>
  {{range $dates}}
  <li>{{.}}</li>
  {{end}}
</ul>
{{end}}


<a href="/">Go Home</a>
{{end}}